.buttons{
    display: flex;
    justify-content: space-between;
}

.title{
    display: flex;
    justify-content: center;

    h1{
    font-weight: 600 !important;
    }
}

.menu {
    display: flex;
    flex-direction: column; /* align items vertically */
    align-items: center; /* center items horizontally */
    margin: 1em;
    overflow-y: scroll !important;
  //  height: 800px;
  }
  
  .menu ion-card {
    width: 22em;
  }
  