ion-toolbar{
    height: 5em;
    color: #FFF !important;
}

.footerToolbar{
    display: flex;
    justify-content: center;

    ion-icon {
        height: 3em;
        width: 3em;
        margin-left: 3.9em;
    }
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-container img {
    max-height: 100%;
    max-width: 100%;
    height: 4.5em;
    width: auto;
  }
