<div class="title">
  <h1>Venue Administration</h1>
</div>

<ion-card (click)="viewTables()">
  <ion-card-header>
    <ion-card-title>Tables</ion-card-title>
  </ion-card-header>

  <ion-card-content>
   Edit tables
  </ion-card-content>
</ion-card>

<ion-card (click)="viewStaff()">
  <ion-card-header>
    <ion-card-title>Staff</ion-card-title>
  </ion-card-header>

  <ion-card-content>
   Edit Staff
  </ion-card-content>
</ion-card>

<ion-card (click)="viewOrders()">
  <ion-card-header>
    <ion-card-title>Orders</ion-card-title>
  </ion-card-header>

  <ion-card-content>
   Edit Orders
  </ion-card-content>
</ion-card>




