<ion-header>
  <ion-toolbar color="primary">
    <ion-title>CustomerService</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <router-outlet></router-outlet>

</ion-content>

<ion-toolbar color="primary" class="footerToolbar" style="display: flex; justify-content: space-between !important">
    <ion-icon (click)="toTables()" name="apps-outline" style="margin-left:5em"></ion-icon>
    <ion-icon (click)="toTablesStack()" name="albums-outline" style="margin-left:7em"></ion-icon>
  </ion-toolbar>
  


